.buttonA {
  color: #46139F !important;
  border: 1px solid #46139f !important;
}
.buttonB {
  color: #ff7f50 !important;
  border: 1px solid #46139f !important;
}

.buttonC{
  border: 1px solid #46139f !important;
}